{% extends "base.html" %}
{% block title %}Add Address{% endblock %}
{% block content %}
    <script>
        
        var loadFile = function(event) {
            var reader = new FileReader();
            reader.onload = function(){
                var output = document.getElementById('output');
                output.src = reader.result;
            };
            reader.readAsDataURL(event.target.files[0]);
        };

        var loadStreets = function(event, streets) {
            parent = document.querySelector("#street")
            keeper = parent.firstElementChild
            console.log(keeper)
            parent.innerHTML = ''
            parent.appendChild(keeper)
            value = document.getElementById("city").value
            length = Object.keys(streets).length
            for(var s=0; s<length; s++){
                console.log(streets[s][1])
                if(streets[s][1] === value){
                    option = document.createElement('option')
                    option.textContent+=streets[s][0]
                    parent.appendChild(option)
                }
            }       
        };
    </script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/addr.css') }}" />
    <img src="{{url_for('static', filename='imgs/placeholder.png')}}" id="output" style="width: 20%; height: 20%;" />
    <div class="container">
        <form method="POST" enctype="multipart/form-data">
            <input type="file" name="img" onchange="loadFile(event)" accept="image/*"/><br/>
            <img id="output" style="width: 20%; height: 20%;"/>
            <input type="text" name="streetnum" placeholder="Street Number" required /><br/>
            <select id="city" name="city" onchange="loadStreets(event, {{ streetData }})">
                <option disabled selected value> -- Select A City -- </option>
                {% for c in allCities %}
                    <option> {{ c.name }}</option>
                {% endfor %}
            </select></br>
            <select id="street" name="street" required>
                <option disabled selected value> -- Select A Street -- </option>
            </select><br/>
            <input type="text" name="meterNum" placeholder="Meter Number" /><br/>
            <input type="text" name="meterSize" placeholder="Meter Size" /><br/>
            <input type="text" name="tieOne" placeholder="Tie 1"/><br/>
            <input type="text" name="tieTwo" placeholder="Tie2"/><br/>
            <textarea name="notes" placeholder="Notes..." cols="30" rows="5"></textarea><br/>
            
            <input type="submit" value="Create Address" />
        </form>
    </div>
    {{message}}
{% endblock %}