{% extends "base.html" %}
{% block title %}Add Address{% endblock %}
{% block content %}
    <script>
        var loadFile = function(event) {
            var reader = new FileReader();
            reader.onload = function(){
                var output = document.getElementById('output');
                output.src = reader.result;
            };
            reader.readAsDataURL(event.target.files[0]);
        };
        
    </script>
    <form method="POST" enctype="multipart/form-data">
        <img id="output" style="width: 20%; height: 20%;"/>
        <input type="text" name="streetnum" placeholder="Street Number" />
        <select name="street">
            {% for s in allStreets %}
                <option>{{ s.name }}</option>
            {% endfor %}
        </select>
        <input type="file" name="img" onchange="loadFile(event)" accept="image/*"/>
        <input type="submit" value="Create Address" />
    </form>
    {{message}}
{% endblock %}