{% extends "base.html" %}
{% block title %}Addresses{% endblock %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/search.css') }}">
    <div class="main">
        <div class="box">
            <!--<i class="fa-solid fa-magnifying-glass icon"></i>-->
            <!--<input type="text" class="input-field" placeholder="Search" />-->
        </div>
    </div>
    <button onclick="location.href='/add_address';">Add New</button>
    <div class="addresses">
        {% if allAddresses|length != 0 %}
            {% for a in allAddresses %}
                <div class="address">
                    <image src="{{url_for('static', filename='imgs/'+a.image)}}" />
                    <h3><a href="{{url_for('views.address', id=a.id)}}">{{a.streetnum}} {{a.street}}</a></h3>
                    <h4>{{a.city}}</h4>
                </div>
            {% endfor %}
        {% else %}
            <h1>No Addresses Found</h1>
        {% endif %}
    </div>
{% endblock %}