<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{%endblock%}</title>
        <script src="https://kit.fontawesome.com/86f9c65e39.js" crossorigin="anonymous"></script>
        <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}">
    </head>
    <body>
        <div class="sidebar">
            <div class="icon">
                <i class="fa-solid fa-droplet fa-2x"></i>
            </div>
            <a href="{{ url_for('views.home') }}">Dashboard</a>
            <a href="{{ url_for('views.addressViewer') }}">Addresses</a>
            <a href="{{ url_for('views.changelog') }}">Changelog</a>
            <a href="{{ url_for('auth.logout') }}">Logout</a>
            {% if admin %}
                <hr />
                <a href="{{ url_for('views.admin_page') }}">Admin</a>
            {% endif %}
        </div>
        <div class="main">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>