{% extends "base.html" %}

{% block content %}
    <script>
        var loadFile = function(event) {
            var reader = new FileReader();
            reader.onload = function(){
                var output = document.getElementById('output');
                output.src = reader.result;
            };
            reader.readAsDataURL(event.target.files[0]);
        };
        
    </script>

    <img src="{{url_for('static', filename='imgs/'+a.image)}}" id="output" style="width: 20%; height: 20%;" />
    <form method="POST" enctype="multipart/form-data">
        <input type="file" name="img" onchange="loadFile(event)" accept="image/*"/>
        <input name="streetnum" value="{{ a.streetnum }}"/>
        <select name="street">
            {% for street in s %}
                {% if street.name == a.street %}
                    <option selected>{{ street.name }}</option>
                {% else %}
                    <option>{{ street.name }}</option>
                {% endif %}
            {% endfor %}
        </select>
        {% if a.meterNum != None %}
            <input type="text" name="meterNum" placeholder="Meter Number" value="{{ a.meterNum }}"/>
        {% else %}
            <input type="text" name="meterNum" placeholder="Meter Number" />
        {% endif %}
        {% if a.meterSize != None %}
            <input type="text" name="meterSize" placeholder="Meter Size" value="{{ a.meterSize }}" />
        {% else %}
            <input type="text" name="meterSize" placeholder="Meter Size" />
        {% endif %}
        {% if a.tieOne != None %}
            <input type="text" name="tieOne" placeholder="Tie 1" value="{{ a.tieOne }}"/>
        {% else %}
            <input type="text" name="tieOne" placeholder="Tie 1"/>
        {% endif %}
        {% if a.tieTwo != None %}
            <input type="text" name="tieTwo" placeholder="Tie 2" value="{{ a.tieTwo }}"/>
        {% else %}
            <input type="text" name="tieTwo" placeholder="Tie 2" />
        {% endif %}
        <textarea name="notes">{% if a.notes != None %}{{ a.notes }}{% endif %}</textarea>
        
        <input type="submit" value="Change"/>
    </form>
    <p>{{ message }}</p>
{% endblock %}